<div class="main">
  <div class="">
    <div class="jumbotron">
        <div class="bs-callout bs-callout-success">
        <h4>Successful</h4>
        Successfully added the record !!
    </div>
    <a href="/admin"><button type="submit" class="btn btn-success">Go back to dashboard</button></a>
    </div>
  </div>
  </div>