<div class="main">
  <div class="">
    <div class="jumbotron">
      <h1>Statistics</h1>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a class="dashboard-stat red">
              <div class="visual">
                <i class="fa fa-usd"></i>
              </div>
              <div class="details">
                <div class="number">
                  <span>{{ad1.total_salary}}</span>
                </div>
                <div class="desc">Total Salary Expenditure</div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="dashboard-stat blue" href="#">
        <div class="visual">
          <i class="fa fa-heartbeat"></i>
        </div>
        <div class="details">
          <div class="number">
            <span>{{ad2.average_visits}}</span>
          </div>
          <div class="desc">Average Visits</div>
        </div>
      </a>
    </div>
    
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="dashboard-stat hoki" href="#">
        <div class="visual">
          <i class="fa fa-user-md"></i>
        </div>
        <div class="details">
          <div class="number">
            <span>{{ad3.count_doc}}</span>
          </div>
          <div class="desc">Total Doctors</div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a class="dashboard-stat purple" href="#">
        <div class="visual">
          <i class="fa fa-bar-chart-o"></i>
        </div>
        <div class="details">
          <div class="number">
            <span>{{ad4.count_pat}}</span>
          </div>
          <div class="desc">Total Patients</div>
        </div>
      </a>
    </div>
    </div>
    <p>The first box indicates the total salary expenditure of the hospital.</p>
    <p>The second box indicates the average patient visits each day.</p>
    <p>The third box indicates the total doctors who are employed at our hospital.</p>
    <p>The fourth box indicates the total number of patients who have visited our hospital</p>
  </div>
</div>

