<div class="main">
  <div class="">
    <div class="jumbotron">
        <div class="bs-callout bs-callout-danger">
        <h4>Failed</h4>
        Failed to add record to database !!
    </div>
    <a href="/admin"><button type="submit" class="btn btn-danger">Go back to dashboard</button></a>
    </div>
  </div>
</div>