<!-- Content -->
<div class="main">
  <div class="">
    <div class="jumbotron">
      <h1>Welcome, Admin!<span class="anchorjs-icon"></span></h1>
      <p>This dashboard helps you perform admin tasks easily with just a few click. </p>
        <p>Please, explore further by clicking on the menu items to the left. :)</p>
      
  </div>
</div>

