
<div class="py-5 text-center text-white bg-primary">
<div class="container py-5">
<div class="row py-5">
<div class="mx-auto col-lg-10">
<h1 class="display-4 mb-4 ">Motto</h1>
<p class="lead mb-5"> The COVID-19 virus is spreading havoc around the world, and hospitals 
    around the world need to plan for a separate division to handle the growing number of cases. 
So, this site helps to manage the activities in the COVID-19 department, along with 
helping patient access their test results easily and securely.</p> 
<a href="/login" class="btn btn-lg btn-outline-light mx-1">Login</a>
</div>
</div>
</div>
</div>