<div class="center_div" style="margin-top: 100px;">
    <h2> Book a Room </h2>
  
    <form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Avaliable Rooms</label>
    <select class="form-control" id="exampleFormControlSelect1" name="room_number">
      <option>205</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</form>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/room1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Room 205</h5>
    <p class="card-text">Size: Large</p>
    <p class="card-text">Equipments: Sonography</p>
  </div>
  
  <div class="card-body">
    <a href="#" class="btn btn-primary">Book Room</a>
  </div>
   <div class="card-footer text-muted">
    All Rooms are booked for a day. :)
  </div>
</div>
</div>

