
<div class="container">
   <br/>
   <br/> 
  <h1 style="margin-top:50px;">Payslip for the month of <span class="all-caps-blue">June 2020</span></h1>
    <ul class="list-group">
      <li class="list-group-item">Name: <strong>King Kong</strong></li>
  <li class="list-group-item">Pay period: <strong>End June 2015</strong></li>
  <li class="list-group-item">Status: <strong>Deposited</strong></li>
</ul>  
  <div class="container-panel-md mt-3">
    <h2>Earnings total</h2>
    <table class="table">
        <tr style="font-weight: bold;">
          <td>PayslipID</td>
          <td>Hourly Rate</td>
          <td>Hours</td>
          <td>Total</td>
        </tr>
        <tbody class="table-hover">
               <tr>
          <td>1111</td>
          <td class="td-num">USD 100.00</td>
          <td class="td-num">45</td>
          <td class="td-num">USD 4500.00</td>
        </tr> 
        <tr>
          <td>Total Pay</td>
          <td></td>
          <td></td>
          <td></td>
        <td class="td-num">USD 4500.00</td>
        </tr>
      <td>Tax Deduction(20%)</td>
          <td></td>
          <td></td>
          <td></td>
        <td class="td-num">- USD 900.00</td>
        </tr>
    <tr><td>Bonus</td>
          <td></td>
          <td></td>
          <td></td>
        <td class="td-num">USD 100.00</td>
        </tr>
      </tbody>      
         <tr><td>Grand total</td>
          <td></td>
          <td></td>
          <td></td>
        <td class="td-num">USD 3700.00</td>
        </tr>
      </table>
<div class="input-group">
      <span class="input-group-addon mr-3"><i class="fa fa-check-circle"></i></span>
      <span class="form-control">Transferred to BOFA xxxxxxxxxx2134 on <b>30 June 2020, 8:00am</b> 
      {{!-- <a href= "#"><i class="fa fa-cog"></i></a> --}}
      </span> 
    </div><br>
<div class="input-group">
      <span class="input-group-addon mr-3"><i class="fa fa-angle-double-right"></i></span>
      <span class="form-control">Reference ID: 112312332</span> 
    </div>
{{!-- <h3 class="mt-4">If not paid yet</h3> --}}
{{!-- <div class="input-group"> --}}
  {{!-- <span class="input-group-addon mr-3"><i class="fa fa-angle-double-right"></i></span> --}}
      {{!-- <span class="form-control">Will be deposited to BOFA xxxxxxxxxx2134 on <b>30 June 2020 before 23:59pm</b>  --}}
      {{!-- <a href= "#"><i class="fa fa-cog"></i></a> --}}
      {{!-- </span>  --}}
    {{!-- </div> --}}
  </div>
</div>
